
@{
    ViewBag.Title = "About";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>О приложении</title>
</head>
<body>
    <br/>
    <br/>Здесь представлен результат выполнения лабораторной работы №2 на платформе asp.net framework с использованием MVC
    <br />Основные страницы приложения:"Home/Index", "Home/UserIndex", "Home/Log", "Account/Login" и "Account/Register".
    <br />Административная страница "Home/Index" доступна только авторизированным пользователям, эта страница позволяет добавлять и удалять картинки. При попытке неавторизованного доступа к странице происходит перенаправление к "Account/Login"
    <br />Страница "Home/UserIndex" является домашней и доступна даже не авторизированным пользователям. Здесь есть возможность голосовать за картинку.
    <br />Страница "Home/Log" позволяет отслеживать действия пользователей.
    <br />Страница с регистрацией "Account/Register" доступна только авторизированным пользователям.

</body>
</html>

