
@{
    ViewBag.Title = "Contact";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Контакты</title>
</head>
<body>
    <hgroup>
        <h1>Хайров Марк Альбертович</h1>
        <h3>
            <table>
                <tr>
                    <td>
                        НИ ТПУ
                    </td>
                </tr>
                <tr>
                    <td>
                        ИШИТР
                    </td>
                </tr>
                <tr>
                    <td>
                        Группа: 8ВМ03
                    </td>
                </tr>
                <tr>
                    <td>
                        почта: markhairov@mail.ru
                    </td>
                </tr>
                <tr>
                    <td>
                        тел.: +79526864760
                    </td>
                </tr>
            </table>
        </h3>
    </hgroup>
</body>
</html>



