@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Lab2._2Mark.Models.Image
<h2>Удаление книги</h2>
<dl>
    <dt>Название</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>Путь</dt>
    <dd>
        @Html.DisplayFor(model => model.Path)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}
